body {
  font-family: "Google Sans", sans-serif;
  margin: 0;
}

header,
main,
footer {
  padding: 8px 16px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #8f8;
}

footer {
  text-align: center;
}

h1 {
  margin: 0;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid;
}

a {
  color: #080;
}

.tombol {
  background-color: #080;
  color: #fff;
  padding-inline: 18px;
  height: 36px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.biodata-trs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
}

.biodata-trs h1 {
  text-align: center;
}

.table-biodata {
  display: flex;
  justify-content: center;
}

.table-biodata th,
td {
  padding: 10px;
}
